//===============================================================================
// HELPER-CLASSES
//===============================================================================
// add bullets to ul
.text-list{
  list-style: disc;
  padding-left: 1em;
}

// clearfix
.clear-fix:after{
  content: "";
  display: table;
  clear: both;
}