//===============================================================================
// LAYOUT
//===============================================================================
.wrap{
  margin: 0 auto;
  width: $wrap-width;
}


.columns{
  float: left;
}

.left{
  width:50%;
}
.middle{
  width:50%;
}